*
{
	margin: 0;
	padding: 0;
}
header
{
	background-color: #424242;
	height: 50px;
}

body
{
	
}
aside
{
	margin-top: 0;
}

footer
{
	background-color: #424242;
	height: 30px;
	margin-top: auto;
	padding-left: 40%;
	
}
	/*----Navigation-----*/

	#nav-bar
	{
		position: sticky;
		top: 0;
		z-index: 10;
	}

	.navbar-brand img
	{
		height: 30px;
		padding-left: 30px;
		padding-bottom: 5px;

	}

	.navbar-nav li 
	{
		padding: 0 10px;
	}
	.navbar-nav li a
	{
		float: right;
		text-align: left;
	}

	#nav-bar ul li a:hover 
	{
		background-color: #7d7d7d;
		color: #000000;
	}

	.navbar
	{
		background: #424242;
		color: #fff;
	}

	.navbar-toggler
	{
		border: none!important;
	}

	.nav-link
	{
		color: #ffffff!important;
		font-weight: 600;
		font-size: 16px;
	}
	/*------Team Members-------*/

	#team
	{
		padding-top: 50px;
		padding-bottom: 50px;
		color: #555;
	}

	h1
	{
		text-align: center;
		color: #555 !important;
		padding-bottom: 10px;
	}

	h1: :after
	{
		content:'';
		background: #7d7d7d;
		display: block;
		height: 3px;
		width: 170px;
		margin: 20px auto 5px;		
	}

	.profile-pic
	{
		margin-top: 25px;
	}

	.profile-pic .img-box
	{
		opacity: 1;
		display: block;
		position: relative;

	}

		.profile-pic .img-box img
	{
		filter: grayscale(1);
	}

			.profile-pic .img-box img:hover
	{
		filter: grayscale(0);
		cursor: pointer;
	}

	.profile-pic h2
	{
		font-size: 22px;
		font-weight: bold;
		margin-top: 15px;
		color: #7d7d7d !important;
	}

		.profile-pic h3
	{
		font-size: 15px;
		font-weight: bold;
		margin-top: 15px;
	}

	#team .fa
	{
		height: 25px;
		width: 25px;
		color: #7d7d7d !important;
		background: #fff;
		padding: 4px;
		border-radius: 50%;
	}

	.img-box ul
	{
		padding: 15px 0;
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
	}

	.img-box ul li
	{
		padding: 5px;
		display: inline-block;
	}

	.img-box:hover ul
	{
		opacity: 1;
	}

	.img-box, .img-box ul li
	{
		transition: 0.5s;
	}

	.img-responsive
	{
		height: 250px;
		width: 250px;
	}

/*---------Footer---------*/

	#footer
	{
		background: #000;
		color: #fff;
		padding: 12px;
	}

	.fa-heart-o
	{
		margin: 3px;
		color: red;
	}
